html {
    height: 100%;
    width: 100%;

}
body {
    height: auto;
    font-family: 'Light';
    height: 100%;
    width: 100%;
    color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Light;
    src: url(fonts/light.TTF);
}

@font-face {
    font-family: Italic;
    src: url(fonts/italic.TTF);
}

@font-face {
    font-family: Mono;
    src: url(fonts/mono.otf);
}


#barra {
    position: fixed;
    width: 225px;
    text-align: left;
    margin-left: 20px;
}

#menu {
    text-indent: 44px;
    display: flex;
    flex-direction: column;
    line-height: 26px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}
a:active {
    text-decoration: none;
    color: black;
}
#titulo {
    font-family: mono;
    font-size: 36px;
}
#desativado {
            text-decoration: line-through;
}
#barrapreta {
    width: 70%;
    margin-left: 20%;
    height: 40px;
    background-color: black;
}

#main {
    display: flex;
    position: relative;
    margin-left: 250px;
    width: 600px;
    height: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: auto;
    flex-direction: column;
}

#imagem {
    width: 60%;
    height: auto;
}

#text {
    width: 100%;
    line-height: 24px;
    font-size: 22px;
}
span {
    font-family: mono;
}
#botao {
    text-align: right;
        width: 60%;
}


#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-image: url(img/footer-02.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 5vw;
}

@media screen and (max-width: 900px) {
body {
    font-size: 3vw;
    margin: 0px;
    display: flex;
    flex-direction: row;
    line-height: 3.2vw;

}
       
#barra {
    position: fixed;
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 0;
    font-size: 6vw;
    background-color: white;
    height: 28vw;
    top:0;
}
#menu {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
    text-indent: 0;
    display: flex;
    flex-direction: row;
    line-height: 2vw;
    text-indent: 2vw;
    text-align: center;
    margin-top: 0;
}
   #barrapreta {
    display: none;
}

#titulo {
    font-size: 7vw;
}
#main {

    display: flex;
    width: 90%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;

}
#text {
    width: 80%;
    line-height: 5.3vw;
    font-size: 5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 20%;
}
span {
    font-family: mono;
}
#botao {
    text-align: right;
        width: 60%;
}
#imagem {
    width: 100%;
    height: 80vw;
    background-position: center;
}

#footer {
    height: 20vw;
}
 
}